* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  line-height: 28px;
}

body {
  width: 1920px;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
}

#main_header .logo h1 a img {
  margin-top: 20px;
  width: 80px;
  position: absolute;
  left: 48.5%;
  /* border: 2px solid yellow; */
  background: none;
  z-index: 998;
}



#main_header .container {
  position: relative;
}

#gnb {
  position: absolute;
  right: 260px;
  top: 80px;
  /* z-index 추가 */
  z-index: 999;
}

/* 1단계 */
#gnb > ul.depth1 > li {
  float: left;
  width: 110px;
  text-align: center;
}

#gnb > ul.depth1 > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 22px;

}


#gnb > ul.depth1 > li:last-child {
  margin-right: 0;
}

/* 2단계 메뉴 */
#gnb ul.depth2 {
  outline: 1px solid rgba(0,0,0,0.2);
  margin-top: 32px;
  padding: 20px 10px;
  display: none;
  background: #fff;
}

#gnb ul.depth2 > li {
  line-height: 2em;
  font-size: 16px;
  padding: 10px 0 10px 0;

}

#gnb ul.depth1 > li > a:hover {
  border-bottom: 5px solid #4c81bf;
}

#gnb ul.depth2 > li > a:hover  {
  border-bottom: 2px solid #4c81bf;
  color: #4c81bf;
  
}

#main_visual .swiper-slide img {
  position: absolute;
  
}

.header_text {
  position: absolute;
  width: 1920px;
  top: 380px;
  /* border: 2px solid yellowgreen; */
  text-align: center;
  z-index: 900;
}

.header_text h1,
.header_text h2 {
  color: #fff;
  text-shadow: 3px 2px 3px rgb(77, 76, 76);
}

/* 화살표 위치 조정 */
.container1400 {
  width: 1400px;
  position: relative;
  margin: 0 auto;
  /* outline: 2px solid red!important; */
}
.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-600px);
  color: white;
}

.swiper-pagination-bullet-active {
  background: white;
}


#product {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: rgb(181, 181, 181);
}

#product .col_2.corona  h1 {
  color: black;
  
}

#product .row .col_4 p {
  /* outline: 2px solid red; */
  margin-top: 20px;
}

#main_visual {
  position: relative;
  width: 100%; height: 720px;
  /* outline: 2px solid red; */
  margin: 0 auto;
  overflow: hidden;
}

#main_visual .swiper-container {
  width: 1920px; height: 720px;
  /* border: 2px solid green; */
  position: absolute;
  left: calc(50% - (1920px / 2));
}

/* 화살표 위치 조정 */
.container1400 {
  width: 1400px;
  position: relative;
  margin: 0 auto;
  /* outline: 2px solid red!important; */
}
.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-300px);
  color: white;
}

/* 컬러 변경 */
 /* .swiper-pagination-bullet {

} */ 
.swiper-pagination-bullet-active {
  background: white;
}

#vision {
  /* outline: 2px solid red; */
  padding-top: 100px;
  padding-bottom: 100px;
}

#vision .container .col_5 {
  /* background: #ff0; */
  padding-top: 50px;
}


#vision h2 {
  font-weight: normal;
  font-size: 34px;
  margin-bottom: 25px;
}
#vision h2 span { 
  font-weight: bold;
}

#vision .container .col_7 iframe {
  /* outline: 2px solid rgb(14, 73, 97); */
  position: relative;
  width: 600px; height: 300px

}

.btn-detail {
  width: 182px; height: 48px;
  border: 2px solid #4c81bf;
  display: block;
  text-align: center;
  line-height: 48px;
  text-transform: uppercase;
  font-size: 14px;
  color: #4c81bf;
  margin-top: 60px;
  transition-duration: 0.4s;
}

.btn-detail:hover {
  background: #4c81bf;
  color: #fff;
}

.btn-detail.btn-blue {
  background: #4c81bf;
  color: #fff;
}

.btn-blue:hover {
  opacity: 0.8;
  
}

#product {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: #f8f8f8;
}

#product .row .col_4 a img {
  width: 80%;
}

#product h2,
#ir h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

#ir {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: #ccc;
  background-image: url(../img/mioni_baneer01.jpg);
  color: #fff;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);

}

#ir h2 {
  margin-bottom: 40px;
}

#ir .btn-detail {
  display: inline-block;
  border-color: #fff;
  color: #fff;
}

#ir .btn-detail:hover {
  background: #fff;
  color: #000;
}

/* 공지사항 및 빠른문의 */
#notice {
  padding-top: 100px;
  padding-bottom: 100px;
}

#notice .btn-detail {
  margin-top: 60px;
}

#notice label {
  display: none;
}

#notice .cintainer .center01 {
  /* outline: 1px solid red; */
  padding-left: 400px;
  /* text-align: center; */
} 

#notice .cintainer .center02 {
  /* outline: 1px solid red; */
   padding-right: 400px;
}
.form-group {
/* background: #ccc */
margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  display: block;
  padding: 15px;
  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 5px;
}

#notice form .btn-detail {
  margin-top: 30px;
}

address {font-style: normal;}
#main_footer {
  background: #3b3c3b;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 0.7em;
}

#main_footer address,
#main_footer .info {
  margin-bottom: 10px;
}

#notice .cintainer .row .left p {
  font-size: 0.7em;
}